<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingbugdemo.mapper.ShardingTestMapper">
    <insert id="insertSelect">
        insert into sharding_test_201911(title,content)(select 1,2 from DUAL)
    </insert>
    <select id="selectA" resultType="com.example.shardingbugdemo.entity.ShardingTest">
        SELECT  id,create_time,update_time,title,a_title,content,sort,zzhm,related_zzhm,alive_flag  FROM sharding_test WHERE title IN (${a})
    </select>
</mapper>
